* {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 80px!important;
}

ul {
    list-style-type: none !important;
}

div#container {
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;

}

div.comment-area {
    margin-top: 2em;
}

h3.comment-area-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}