{% extends 'base.html' %}
{% block title %}
    {{ page.title }}
{% endblock %}
{% block content %}
    <h1>{{ page.title }}</h1>
    <p>创建时间:{{ page.create_time }}</p>
    <p>修改时间:{{ page.update_time }}</p>
    <p>阅读次数：{{ page.get_read_num }}</p>
    <p>作者:{{ page.auth }}</p>
    <p>博客类型：<a href={% url 'get_type' page.blog_type_id %}>{{ page.blog_type }}</a></p>
    {#    safe过滤器代表安全的#}
    {{ page.content|safe }}
    <div class="blog-more">
        {% if previous_blog.pk %}
            <p>上一篇:<a href="{% url 'get_page' previous_blog.pk %}">{{ previous_blog.title }}</a>
            </p>
        {% else %}
            <p>上一篇：第一页了</p>
        {% endif %}
        {% if next_blog.pk %}
            <p>下一篇:<a href="{% url 'get_page' next_blog.pk %}">{{ next_blog.title }}</a></p>
        {% else %}
            <p>下一篇：最后一页了</p>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-9 col-sm-8">
            <div style="margin-top:2em; border:1px dashed;padding:2em">
                <div class="comment-area">
                    <h3 class="comment-area-title">提交评论区</h3>
                    {% if user.is_authenticated %}

                        <form action="{% url 'update_comment' %}" method="post" style="overflow: hidden">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="commit_text"> {{ user.username }},欢迎评论</label>
                                <textarea class="form-control" id='commit_text ' name='text' rows="4"></textarea>
                            </div>
                            <input type="hidden" name="object_id" value="{{ page.pk }}">
                            <input type="hidden" name="content_type" value="blog">
                            <input class="btn btn-primary" type="submit" value="提交" style="float:right">

                        </form>

                    {% else %}
                        未登录,登录完毕后方可登录
                        <form action="{% url 'login' %}" method="POST">
                            {#                        防止csrf报错#}
                            {% csrf_token %}
                            <span>用户名：</span><input type="text" name="username">
                            <span>密码：</span><input type="password" name="password">
                            <input type="submit" value="登录">
                        </form>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-title">评论列表</h3>
                    {% for comment in comments %}
                        <div>
                            {{ comment.user.username }}
                            {{ comment.comment_time|date:"Y-m-d H:n:s" }}
                            {{ comment.text }}
                        </div>
                    {% empty %}
                        暂无评论
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

